<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
		<title th:text="#{cart.title}">Warenkorb</title>
	</head>
<body>
	<div class="all">
		<header>
			<h1 th:text="#{cart.title}">Warenkorb</h1>
		</header>
		<nav th:include="navigation :: navigation"></nav>

		
	</div>
</body>
</html>