<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
		<title th:text="${Computer.name}">Last Action Hero</title>
	</head>
<body>
	<div class="all">
		<header>
			<h1 th:text="${Computer.name}">Last Action Hero</h1>
		</header>
		<nav th:include="navigation :: navigation" ></nav>
		
		
		<div class="content">

		
			<div class="detailDescription">
				<h2 th:text="${Computer.name}">Last Action Hero</h2>
				<p>Preis:</p><p th:text="${Computer.price}">9.99€</p><br />
				<p>Model:</p><p th:text="${Computer.model}">Äktschn</p><br />
				<p>Vorrat:</p><p th:text="${quantity}">10 Stück</p><br /> 
				<form method="post" action="/cart" >
					<input type="hidden" name="pid" value="0" th:value="${Computer.identifier}" />
					<label for="number">Anzahl</label>
					<input id="number" type="number" name="number" min="1" step="1" value="1" /><br />
					<input	type="submit" value="Zum Warenkorb hinzufügen" />
				</form>
			</div>


		</div>
	</div>
</body>
</html>