<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
		<title th:text="#{home.title}">Ankaufstelle</title>
	</head>
<body>
	<div class="all">
		<header>
			<h1 th:text="#{home.title}">Ankaufstelle</h1>
		</header>
		<nav th:include="navigation :: navigation"></nav>
		
		
		<div class="sell">
			<div class="salespoint" sec:authorize="hasRole('ROLE_PCUSTOMER')">
				<form method="post" action="checkout">
					<fieldset>
						<legend>Antrag ausfüllen</legend>
						<label for="Computertype">Artikelart</label><br />
						
						<select id="Computertype" name="Computertype" th:each="Computertype : ${catalog}">
							<option> </option>
							<option th:text="${Computertype.name}">NOTEBOOK</option>
							<option th:text="${Computertype.name}">NOTEBOOK</option>
							<option th:text="${Computertype.name}">NOTEBOOK</option>
						</select><br />
						
						<label for="Computer">Artikel</label><br />
						
						<select id="Computer" name="Computer" th:each="Computer : ${catalog}">
							<option> </option>
							<option th:text="${Computer.name}">Acer</option>
							<option th:text="${Computer.name}">Acer</option>
							<option th:text="${Computer.name}">Acer</option>
						</select><br />
						
						<label for="Description">Beschreibung</label><br />
						<textarea name="Description" cols="40" rows="5"></textarea><br /><br />
						<input type="submit" value="Senden" />
					</fieldset>
				</form>
			</div>
			<div class="salespoint" sec:authorize="hasRole('ROLE_BOSS', 'ROLE_EMPLOYEE')">
				<div class="content">
					<table>
						<caption th:text="#{sells.completed}"></caption>
					<thead>
						<tr>
							<th>Datum</th>
							<th>Kunde</th>
							<th>Artikeltyp</th>
							<th>Artikel</th>
							<th>Beschreibung</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="sell : ${sells} ">
							<td th:text="${#temporals.format(order.dateCreated, 'dd.MM.yyyy HH:mm')}"></td>
							<td th:text="${sell.userAccount.identifier}"></td>
							<td th:text="${sell.computertype}"></td>
							<td th:text="${sell.computer}"></td>
							<td th:text="${sell.description}"></td>
						</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
	</div>
</body>
</html>
