html, body {
	font-family: "Raleway", sans-serif;
  width: 90%;
  margin:auto;
  margin-top:20px;
  font-size:1.1em;
}

header {
  background: #f2f2f2;
  padding-left:30px;
  padding-top:20px;

}

header, nav {
  clear:both;
  overflow: auto;
}

header ul {
  float:right;
}

header ul li {
  float:left;
  margin-right:20px;
  list-style-type: none;
}

nav ul {
  background:#666;
  overflow: auto;
  color:#fff;
  padding-left:25px;

}

nav ul li {
  float:left;
  list-style-type: none;
  margin-right:20px;
}

nav ul li a, header ul li a {
  display:block;
  color:#fff;
  padding-top:7px;
  padding-bottom: 7px;
  padding-left:10px;
  padding-right:10px;
  text-decoration: none;
}

header ul li a {
  background: #d45500;
}

nav ul li a:hover {
  background:#000;
}

.button, input[type="submit"] {
  background: #d45500;
  color:#fff;
  padding:5px 15px 5px 15px;
  cursor:pointer;
}

input[type="submit"] {
  font-family:"Raleway", sans-serif;
  border:0px;
  font-size:1em;
}

.button:hover, input[type="submit"]:hover, header ul li a:hover {
  background:#000
}

a.button {
  text-decoration:none;
}

.button.inactive {
  background:#de8787;
  cursor:default
}

.error {
  display:inline-block;
  border-bottom:3px solid #de8787;
}

.fieldError {
    background:#de8787;
    border:0px;
}
