html, body {
	font-family: "Raleway", sans-serif;
  width: 85%;
  margin:auto;
  margin-top:20px;
  font-size:1.1em;
}

header {
  background: #f2f2f2;
  padding-left:30px;
  padding-top:20px;

}

header, nav, .clearboth {
  clear:both;
  overflow: auto;
}

header ul {
  float:right;
}

header ul li {
  float:left;
  margin-right:20px;
  list-style-type: none;
}

nav ul {
  background:#666;
  overflow: auto;
  color:#fff;
  padding-left:25px;

}

nav ul li {
  float:left;
  list-style-type: none;
  margin-right:20px;
}

nav ul li a, header ul li a {
  display:block;
  color:#fff;
  padding-top:7px;
  padding-bottom: 7px;
  padding-left:10px;
  padding-right:10px;
  text-decoration: none;
}

header ul li a {
  background: #d45500;
}

nav ul li a:hover {
  background:#000;
}

.button, input[type="submit"] {
  background: #d45500;
  color:#fff;
  padding:5px 15px 5px 15px;
  cursor:pointer;
}

input[type="submit"] {
  font-family:"Raleway", sans-serif;
  border:0px;
  font-size:1em;
}

.button:hover, input[type="submit"]:hover, header ul li a:hover {
  background:#de8787
}

a.button {
  text-decoration:none;
}

.button.inactive {
  background:#de8787;
  cursor:default
}

.error {
  display:inline-block;
  border-bottom:3px solid #de8787;
}

.fieldError {
  background:#de8787;
  border:0px;
}

table {
	border-collapse: collapse;
}

table th {
  background:#ccc;
}

table td, table th {
	padding: 10px;
}

table tbody {
	background: #f2f2f2
}

table tbody tr {
	border-bottom:1px solid #ccc
}


fieldset legend {
	background:#ccc;
	padding:10px;
	font-weight:bold;
}

fieldset {
	padding:30px 40px 30px 40px;
	background:#f2f2f2;
	border:0px;
	text-align:center
}

fieldset label {
	float:left;
	clear:both;
	margin-bottom:10px;
	width:25%;
	margin-right:20px;
	text-align:right;
}

fieldset input, fieldset select {
	width:45%;
	margin-bottom:10px;
}

.linkbox {
	float:left;
	width:20%;
	margin-right:1%;
	border:1px solid #666;
	text-align:center;
	padding:1%;
	margin-bottom:1%;
	text-decoration: none;
	color:#000;
}

.linkbox img {
	width:100%;
}

.linkbox h3 {
	background:#d45500;
	text-decoration:none;
	color:#fff;
	font-weight:normal;
	padding:5px 15px 5px 15px;
	margin-bottom:1%;
}

.linkbox:hover h3 {
	background:#de8787;
}

.linkbox p.price {
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    padding-top:3px;
    padding-bottom:5px;
}

.article_image {
	float:left;
	margin-right:5%;
	margin-bottom:5%;
	max-width:30%;
}

.article_firstinfo {
	float:left;
	max-width:45%;
}

.article_buy {
	float:right;
	max-width:20%;
	padding:30px 40px 30px 40px;
	background:#f2f2f2;
}


.success {
    background:#cdde87;
    color:#677821;
    padding:8px;
}

.failure {
    background:#d35f5f;
    color:#782121;
    padding:8px;
}

.drtl {
    background: #f2f2f2;
    float:left;
}

.drtl .tblhead {
    margin-top:0px;
    padding:10px;
    background:#ccc;
    font-weight:bold;
    text-align:center;
}

.drtl ul {
    list-style:none;
}

.drtl ul li {
    border-bottom:1px solid #ccc;
    display:block;
}