<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Warenkorb - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Warenkorb</h1>

		<div class="content">
			<div th:unless="${cart.empty}">
				<table>
					<thead>
					<tr>
						<th>Artikelname</th>
						<th>Anzahl</th>
						<th>Preis</th>
						<th></th>
					</tr>
					</thead>
					<tbody >

					<tr th:each="item : ${cart} ">
						<td th:text="${item.productName}">Last Action Hero</td>
						<td th:text="${item.quantity}">10</td>
						<td th:text="${item.price}">10 Euro</td>
						<td><form method="post" action="/delete">
							<input type="hidden" name="identification" value="0" th:value="${item.getIdentifier()}" />
							<input type="submit" value="Entfernen" />
						</form></td>
					</tr>


					</tbody>
				</table>
				<p th:text="Gesamtpreis + ': ' + ${cart.price}">Summe: 100 Euro</p>
				<div class="salespoint" sec:authorize="hasAnyRole('ROLE_PCUSTOMER', 'ROLE_BCUSTOMER')">
					<form method="post" action="checkout">
						<input type="submit" name="Kaufen" value="Kaufen" />
					</form>

				</div>
			</div>

			<p th:if="${cart.empty}">Der Warenkorb enthält keine Produkte.</p>
		</div>
</body>
</html>