<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Detailansicht - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Artikel</h1>


<img th:src="@{'/productimg/' + ${article.image}}" class="article_image" alt="" title="" />
<div class="article_firstinfo">
	<h2 th:text="${article.name}"></h2>
	<p th:inline="text"><strong>Modell:</strong> [[${article.model}]]</p>
	<p th:inline="text"><strong>Grundpreis:</strong> [[${article.price}]]</p>
	<p th:inline="text"><strong>Gesamtpreis:</strong> [[${gesamtpreis}]]</p>
</div>
<form method="post" action="/cart2" class="article_buy" >
	<th:block th:if="${orderable}">

		<strong>Sie haben erfolgreich Ihr Produkt zusammengestellt.</strong><br/><br/>

		Dieser Artikel ist lieferbar.<br/>
		<strong th:text="${quantity}"></strong> Stück verfügbar.


		<th:block sec:authorize="!hasRole('ROLE_BOSS')">
			<p><label for="number">Wie viele möchten Sie bestellen?</label></p>
			<input id="number" type="number" name="number" min="1" th:max="${quantity}" step="1" value="1" /><br/><br/>

			<input type="hidden" name="pid" value="0" th:value="${article.identifier}" />

			<input type="submit" value="Zum Warenkorb hinzufügen" />
		</th:block>
	</th:block>
	<th:block th:unless="${orderable}">

		<strong>Bitte stellen Sie sich Ihre Komponenten zusammen, damit Sie dieses Produkt Ihrem Warenkorb hinzufügen können.</strong><br/><br/>
		Dieser Artikel ist lieferbar.<br/>
		<strong th:text="${quantity}"></strong> Stück verfügbar.

	</th:block>
</form>


<div class="clearboth">
	<h2>Komponenten</h2>
	<p>Dieser Artikel ist individuell von Ihnen anpassbar.</p>

	<div class="linkbox">
		<h3>Prozessor</h3>
		<p th:text="${article.prozessor}"></p>
		<p th:text="${p}"></p>
		<form method="post" action="/change">
			<select name="part" onchange="this.form.submit()">
				<option>Wählen Sie einen Prozessor:</option>
				<option th:each=" processor : ${processor}" th:text="${processor.toString()}" th:value="${processor.identifier}" >
				</option>
				<input type="hidden" name="pid" value="0" th:value="${article.identifier}" />
			</select>
		</form>
	</div>

	<div class="linkbox">
		<h3>Grafikkarte</h3>
		<p th:text="${article.graka}"></p>
		<p th:text="${g}"></p>
		<form method="post" action="/change">
			<select name="part" onchange="this.form.submit()">
				<option>Wählen Sie eine Grafikkarte:</option>
				<option th:each=" graph : ${graphic}" th:text="${graph.toString()}" th:value="${graph.identifier}" >
				</option>
				<input type="hidden" name="pid" value="0" th:value="${article.identifier}" />
			</select>
		</form>
	</div>

	<div class="linkbox">
		<h3>Festplatte</h3>
		<p th:text="${article.hdd}"></p>
		<p th:text="${h}"></p>
		<form method="post" action="/change">
			<select name="part" onchange="this.form.submit()">
				<option>Wählen Sie eine Festplatte:</option>
				<option th:each=" hdd : ${harddrive}" th:text="${hdd.toString()}" th:value="${hdd.identifier}" >
				</option>
				<input type="hidden" name="pid" value="0" th:value="${article.identifier}" />
			</select>
		</form>
	</div>

	<div class="linkbox">
		<h3>Arbeitsspeicher</h3>
		<p th:text="${article.ram}"></p>
		<p th:text="${r}"></p>
		<form method="post" action="/change">
			<select name="part" onchange="this.form.submit()">
				<option>Wählen Sie einen Arbeitsspeicher:</option>
				<option th:each=" ram : ${ram}" th:text="${ram.toString()}" th:value="${ram.identifier}" >
				</option>
				<input type="hidden" name="pid" value="0" th:value="${article.identifier}" />
			</select>
		</form>
	</div>
	</div>
</body>
</html>