<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Kundenliste - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Kunden</h1>

<th:block th:if="${success != null}">
	<p class="success" th:text="${success}"></p>
</th:block>

<a href="/register" class="button">Geschäftskunde hinzufügen</a>

<h2>Kundenliste</h2>

		<table>
			<thead>
			<tr>
				<th>ID</th>
				<th>Login</th>
				<th>Rolle</th>
				<th>Nachname</th>
				<th>Vorname</th>
				<th>Adresse</th>
				<th>E-Mail-Adresse</th>
				<th>Telefonnummer</th>
				<th></th>
				<th></th>
			</tr>
			</thead>
			<tbody th:remove="all-but-first">
			<tr th:each=" customer : ${customerList}">
				<td th:text="${customer.id}">ID</td>
				<td th:text="${customer.userAccount.identifier}">Login</td>

				<td>
					<th:block th:each="role : ${customer.userAccount.roles}">
						<th:block th:if="${#strings.equals(role,'ROLE_BCUSTOMER')}">Geschäftskunde
						(verwaltet von <span th:text="${customer.connectedEmployee.identifier}"></span>)
						</th:block>
						<th:block th:if="${#strings.equals(role,'ROLE_PCUSTOMER')}">Privatkunde</th:block>
					</th:block>
				</td>

				<td th:text="${customer.lastname}">Nachname</td>
				<td th:text="${customer.firstname}">Vorname</td>
				<td th:text="${customer.address}">Adresse</td>
				<td th:text="${customer.mail}">E-Mail-Adresse</td>
				<td th:text="${customer.phone}">Telefonnummer</td>
				<td>
					<a th:href="@{/customers/edit/} + ${customer.id}" href="customers_edit.html" class="button">bearbeiten</a>
				</td>
				<td>
					<form th:method="post" th:action="@{/customers/delete/} + ${customer.id}" th:attr="data-customer-id=${customer.id}">
						<input type="submit" value="löschen" />
					</form>
				</td>
			</tr>

			</tbody>
		</table>
</body>
</html>
