<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Mitarbeiter editieren - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Mitarbeiter <span th:text="${employee.identifier}"></span> editieren</h1>

		<form th:method="post" th:action="@{/employees/edit/} + ${employee.identifier}" th:attr="data-employee-id=${employee.identifier}" th:object="${employeeEditForm}">

			<fieldset>
				<div th:if="${#fields.hasErrors('*')}">
					<span class="error">Einige Angaben fehlen bzw. sind unkorrekt.</span>
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Fehler</li>
					</ul>
				</div>

				<label for="password">Passwort<br/><small>(Wird nur geändert, wenn dieses Feld ausgefüllt wird.)</small></label>
				<input id="password" th:field="*{password}" th:errorclass="fieldError" type="password" name="password" /><br />
				<br />

				<input type="submit" value="Mitarbeiter editieren" />
			</fieldset>

		</form>
</body>
</html>
