<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Startseite - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<th:block th:if="${success != null}">
	<p class="success" th:text="${success}"></p>
</th:block>

<center>

<img src="../resources/img/frontpage.png" alt="" title="" />

<p>
	Willkommen bei CompuTech.<br/>
Unser reichhaltiges Angebot ist reichhaltig gefüllt. Schauen Sie sich im <a href="/shop">Shop</a> um.
</p></center>
	</body>
</html>
