<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	</head>
<body>
	<nav th:fragment="navigation">

		<ul>
			<li sec:authorize="!hasAnyRole('ROLE_BOSS','ROLE_PCUSTOMER', 'ROLE_EMPLOYEE', 'ROLE_BCUSTOMER')"><a th:href="@{/}" href="/">Start</a></li>
			<li sec:authorize="!hasAnyRole('ROLE_BOSS','ROLE_PCUSTOMER', 'ROLE_EMPLOYEE', 'ROLE_BCUSTOMER')"><a th:href="@{/comp}" href="compu.html">Über uns</a></li>
			<li sec:authorize="hasRole('ROLE_BOSS')"><a th:href="@{/orders}" href="orders.html">Bestellungen</a></li>
			<li sec:authorize="hasRole('ROLE_BOSS')"><a th:href="@{/assingments}" href="assingments.html">Aufträge</a></li>
			<li sec:authorize="hasAnyRole('ROLE_BOSS','ROLE_EMPLOYEE')"><a th:href="@{/stock}" href="stock.html">Lager</a></li>
			<li sec:authorize="hasRole('ROLE_BOSS')"><a th:href="@{/balance}" href="balance.html">Bilanz</a></li>
			<li sec:authorize="hasRole('ROLE_BOSS')"><a th:href="@{/employees}" href="employees.html">Mitarbeiter</a></li>
			<li sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_BOSS')"><a th:href="@{/customers}" href="customers.html">Kundenliste</a></li>
			<li sec:authorize="hasRole('ROLE_PCUSTOMER')"><a th:href="@{/sell}" href="sell.html">Ankaufstelle</a></li>
			<li sec:authorize="hasAnyRole('ROLE_BOSS', 'ROLE_EMPLOYEE')"><a th:href="@{/sellorders}" href="sellorders.html">Ankaufstelle</a></li>
			<li sec:authorize="hasAnyRole('ROLE_PCUSTOMER', 'ROLE_BCUSTOMER')"><a th:href="@{/profile}" href="profile.html">Profil</a></li>
			<li sec:authorize="hasAnyRole('ROLE_PCUSTOMER', 'ROLE_BCUSTOMER', 'ROLE_BOSS')"><a th:href="@{/support}" href="support.html">Support</a></li>
			<li sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_BOSS')"><a th:href="@{/support_list}" href="support_list.html">Support list</a></li>
			<li sec:authorize="hasAnyRole('ROLE_PCUSTOMER', 'ROLE_BOSS')"><a th:href="@{/support_price_offer}" href="support_price_offer.html">Price Offer</a></li>

			<li><a th:href="@{/shop}" href="shopoverview.html">Shop</a></li>
			<li><a th:href="@{/cart}" href="cart.html">Warenkorb</a></li>

		</ul>
	</nav>
</body>
</html>
