<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Registrieren - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Registrieren</h1>

		<form method="post" action="/registerNew" th:object="${registrationForm}">


			<fieldset>

				<div th:if="${#fields.hasErrors('*')}">
					<span class="error">Einige Angaben fehlen bzw. sind unkorrekt.</span>
					<ul>
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Fehler</li>
					</ul>
				</div>

				<label for="nickname">Nickname</label>
				<input id="nickname" th:field="*{nickname}" th:errorclass="fieldError" type="text" name="nickname" />
				<br/>

				<label for="firstname">Vorname</label>
				<input id="firstname" th:field="*{firstname}" th:errorclass="fieldError" type="text" name="firstname" />
				<br />

				<label for="lastname">Nachname</label>
				<input id="lastname" th:field="*{lastname}" th:errorclass="fieldError" type="text" name="lastname" />
				<br />

				<label for="password">Passwort</label>
				<input id="password" th:field="*{password}" th:errorclass="fieldError" type="password" name="password" />
				<br />

				<label for="password2">Passwort (erneut)</label>
				<input id="password2" th:field="*{password2}" th:errorclass="fieldError" type="password" name="password2" />
				<br />

				<label for="address">Adresse</label>
				<input id="address" th:field="*{address}" th:errorclass="fieldError" type="text" name="address" />
				<br />

				<label for="mail">E-Mail</label>
				<input id="mail" th:field="*{mail}" th:errorclass="fieldError" type="text" name="mail" />
				<br />

				<label for="phone">Telefon</label>
				<input id="phone" th:field="*{phone}" th:errorclass="fieldError" type="text" name="phone" />
				<br />

				<input type="submit" value="Registrieren" />
			</fieldset>
		</form>
	</body>
</html>
