<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Detailansicht - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Artikel</h1>

		
			<div class="detailDescription">
				<h2 th:text="${article.name}">Last Action Hero</h2>
				Aktueller Vorrat: <span th:text="${quantity}">10 Stück</span><br /><br/>
				<form method="post" action="/addstock" >
					<input type="hidden" name="sid" value="0" th:value="${article.identifier}"  />
					<label for="number1">Wie viele Artikel möchten Sie dem Lager hinzufügen?</label><br/>
					<input id="number1" type="number" name="number1" step="1" min="1" value="1" />
					<input	type="submit" value="Bestätigen" />
				</form>
				<p></p>
				<form method="post" action="/substock" >
					<input type="hidden" name="sid" value="0" th:value="${article.identifier}" />
					<label for="number2">Wie viele Artikel möchten Sie aus dem Lager entfernen?</label><br/>
					<input id="number2" type="number" name="number2" step="1" min="1" value="1" th:max="${quantity}" />
					<input	type="submit" value="Bestätigen" />
				</form>
				<p></p>
				<form method="post" action="/stockdelete" >
					<input type="hidden" name="sid" value="0" th:value="${article.identifier}" />
					<label for="number2">Möchten Sie den Artikel aus dem Sortiment nehmen?</label>
					<input	type="submit" value="Bestätigen" />
				</form>
			</div>

</body>
</html>