<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Ankaufstelle - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Ankaufstelle</h1>

			<div class="salespoint" sec:authorize="hasAnyRole('ROLE_BOSS', 'ROLE_EMPLOYEE', 'ROLE_PCUSTOMER')">
				<form method="post" th:action="@{/sell}" th:object="${sellForm}">
					<fieldset>
					<div th:if="${#fields.hasErrors('*')}">
						<span class="error">Einige Angaben fehlen bzw. sind unkorrekt.</span>
						<ul>
							<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Fehler</li>
						</ul>
					</div>
					<label for="articleType">Artikelart</label>
					<select id="articleType" name="articleType" onchange="window.location = '../sell/' + this.value;">
						<option></option>
						<option th:each=" articleType : ${articletypes}" th:selected="${selectedarticleType == articleType}" th:value="${articleType.toString()}">

							<th:block th:if="${#strings.equals(articleType.toString(),'ZUBE')}">Zubehör</th:block>
							<th:block th:if="${#strings.equals(articleType.toString(),'SOFTWARE')}">Software</th:block>
							<th:block th:if="${#strings.equals(articleType.toString(),'NOTEBOOK')}">Notebook</th:block>

						</option>
						
					</select><br /><br />
					<label for="article">Artikel</label>
					<select id="article" name="article" th:field="*{article}">

						<option th:each="article: ${articles}" th:text="${article.name}" th:value="${article.identifier}" th:errorclass="fieldError"></option>
						
					</select><br /><br />
					<label for ="condition">Zustand</label>
					<select id="condition" name="condition" th:errorclass="fieldError">
						<option value="Neuwertig (~80% Originalpreis)">Neuwertig (~80% Originalpreis)</option>
						<option value="Gebrauchsspuren (~55% Originalpreis)">Gebrauchsspuren (~55% Originalpreis)</option>
						<option value="schlechter Zustand (~15% Originalpreis)">schlechter Zustand (~15% Originalpreis)</option>
					
					</select><br /><br />
					<label for="description">Beschreibung</label>
					<textarea id="description" name="description" th:field="*{description}" th:value="${description}" th:errorclass="fieldError"></textarea><br/><br/>
					<input type="submit" value="Senden" />
					</fieldset>
				</form>
			</div>
</body>
</html>
