<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Ankaufstelle - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Ankaufstelle - Anfragen</h1>


		<div class="sellorders">
			<div class="salespoint" sec:authorize="hasAnyRole('ROLE_BOSS', 'ROLE_EMPLOYEE')">
					<div class="content">
						<table>
						<thead>
							<tr>
								<!-- Datumsangabe müssten wir seperat abspeichern, so wie bei normalen Bestellungen geht es hier leider noch nicht. (Stephan) -->
								<!-- <th>Datum</th> -->
								<th>ID</th>
								<th>Kunde</th>
								<th>Artikeltyp</th>
								<th>Artikel</th>
								<th>Zustand</th>
								<th>Beschreibung</th>
								<th>Antwort</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="sell : ${sellCompleted}">
								<!-- <td th:text="${#temporals.format(sell.dateCreated, 'dd.MM.yyyy HH:mm')}"></td>-->
								<td th:text="${sell.id}"></td>
								<td th:text="${sell.customer.userAccount.identifier}" th:value="${customer}" th:field="*{customer}"></td>
								<td th:text="${sell.articleType}"></td>
								<td th:text="${sell.article.name}"></td>
								<td th:text="${sell.condition}"></td>
								<td th:text="${sell.description}"></td>
								<td>
									<a th:method="post" th:href="@{/sellorder/anwser/} + ${sell.id}" href="sellorder_anwser.html" class="button" th:if="${sell.status}">antworten</a>
								</td>
							</tr>
						</tbody>
						</table>
					</div>
		</div>
	</div>
</body>
</html>