<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Ankaufstelle - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Liste Ihrer Rückgabeanfragen</h1>

Vielen Dank für Ihr Vertrauen!


		<div class="sellconfirmation">
			<div class="salespoint" sec:authorize="hasRole('ROLE_PCUSTOMER')">
				<form method="post" th:action="@{/sellconfirmation}" th:object="${sellanwserForm}" >
					<div class="content">
						<table>
						<thead>
							<tr>
								<th>Artikel</th>
								<th>Antwort</th>
								<th>Preisvorschlag</th>
								<th>Bestätigung</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="sellanwser : ${sellanwserCompleted}">
								<td style="display:none;" th:hidden="${sellanwser.id}" id="id"></td>
								<td th:text="${sellanwser.article.name}"></td>
								<td th:text="${sellanwser.anwser}"></td>
								<td th:inline="text"> EUR [[${sellanwser.priceoffer}]]</td>
								<td>
									<input type="submit" value="Bestätigen" />
								</td>
							</tr>	
						</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
</body>
</html>