<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Ankaufstelle - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Ankaufstelle</h1>


		<div class="sell">
			<div class="salespoint" sec:authorize="hasRole('ROLE_PCUSTOMER')">
				<form method="post" th:action="@{/sell}" action="/sell" th:object="${sellForm}">
					<div th:if="${#fields.hasErrors('*')}">
						<span class="error">Einige Angaben fehlen bzw. sind unkorrekt.</span>
						<ul>
							<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Fehler</li>
						</ul>
					</div><br />
					<label for="articletype">Artikelart</label><br />
					<select id="articletype" name="articletype" th:field="*{articleType}" onchange="window.location = '../sell/' + this.value;">
							
						<option th:each=" articleType : ${articletypes}" th:text="${articleType.toString()}" th:value="${articleType}" th:selected="${selectedType == articleType}" th:errorclass="fieldError"></option>
						
					</select><br /><br />
					<label for="article">Artikel</label><br />
					<select id="article" name="article" th:field="*{article}">
							
						<option th:each="article: ${articles}" th:text="${article.model}" th:value="${article}" th:errorclass="fieldError"></option>
						
					</select><br /><br />
					<label for="description">Beschreibung</label><br />
					<textarea id="description" name="description" cols="40" rows="5" th:field="*{description}" th:value="${description}" th:errorclass="fieldError"></textarea><br />
					<input type="submit" value="Senden" />
				</form>
			</div>
		</div>
</body>
</html>
