<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Shop - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Shop</h1>

		<div class="content">

			<a class="linkbox" th:href="@{/laptop}" href="laptop.html">
						<img src="../resources/img/lap.jpg" alt="Laptops" />
						<h3>Laptops</h3>
			</a>

			<a class="linkbox" th:href="@{/allinone}" href="allinone.html">
						<img src="../resources/img/all.jpg" alt="All-in-one-Systeme" />
						<h3>All-in-one-Systeme</h3>
			</a>

			<a class="linkbox" th:href="@{/software}" href="software.html">
						<img src="../resources/img/soft.jpg" alt="Software" />
						<h3>Software</h3>
			</a>

			<a class="linkbox" th:href="@{zubehoer}" href="zubehoer.html">
						<img src="../resources/img/zube.jpg" alt="Zubehör" />
						<h3>Zubehör</h3>
			</a>
			</div>
</body>
</html>
