<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Bestand - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Bestand</h1>
<th:block th:if="${success != null}">
	<p class="success" th:text="${success}"></p>
</th:block>

			<a href="/addarticle" class="button">Artikel hinzufügen</a>

			<h2>Bestandsliste</h2>

			<table>
				<thead>
				<tr>
					<th> Artikelname</th>
					<th> Anzahl</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr th:each=" item : ${stock}">
					<td th:text="${item.product.name}">product name</td>
					<td th:text="${item.quantity}">product quantity</td>
					<td>
						<a th:href="@{'/sdetail/' + ${item.product.identifier}}" href="sdetail.html" class="button" sec:authorize="hasRole('ROLE_BOSS')"> bearbeiten</a>

					</td>
				</tr>

				</tbody>
			</table>
</body>
</html>