<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Bestand - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Bestand</h1>
		
		<div class="content">
			<table>
				<thead>
				<tr>
					<th> Artikelname</th>
					<th> Anzahl</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each=" item : ${stock}">
					<td th:text="${item.product.name}">product name</td>
					<td th:text="${item.quantity}">product quantity</td>
					<td>
						<a th:href="@{'/sdetail/' + ${item.product.identifier}}" href="sdetail.html" class="button"> bearbeiten</a>

					</td>
				</tr>

				</tbody>
			</table>
		</div>
</body>
</html>