<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Support - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Support - Anfragen</h1>


	<table>

		<thead>
			<th>Artikelname</th>
			<th>Zustandsbeschreibung</th>
			<th>Preis</th>
			<th>über Angebot entscheiden</th>

		</thead>

		<tr th:each="reparation: ${reparations}">
			<td th:text="${reparation.article.name}">Samsung</td>
			<td th:text="${reparation.description}">very good</td>
			<td th:text="${reparation.price}"></td>
			<td><form method="post" action="/support_price_offer">
				<input type="hidden" name="reparationId" th:value="${reparation.id}"/>
				<input type="radio" name="button" class="button" value="accept" /> annehmen
				<input type="radio" name="button" class="button" value="deny" /> ablehnen
				<input type="submit" value="Absenden" />
			</form></td>
		</tr>
	</table>

</body>
</html>