<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Reparatur - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Reparatur - Liste der Anfragen</h1>


	<table>

		<tr>
			<th>Kunde</th>
			<th>Artikel</th>
			<th>Beschreibung</th>
			<th>Preisvorschlag</th>
		</tr>

		<tr th:each="reparation: ${reparations}" th:unless="${reparation.paid} == true">
			<td th:inline="text">[[${reparation.customer.firstname}]] [[${reparation.customer.lastname}]] <!-- Iwan Wasiljewitsch --></td>
			<td th:text="${reparation.article}">Samsung</td>
			<td th:text="${reparation.description}">very good</td>
			<td><form method="post" action="/support_list">
				EUR <input type="text" name="price" size="4" required="required" />
				<input type="hidden" name="reparationId" th:value="${reparation.id}"/>
				<input type="submit" value="Preis vorschlagen" />
			</form></td>
		</tr>
	</table>

</body>
</html>