<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Support - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Support</h1>

<form method="post" action="/support" th:object="${reparationForm}">

	<fieldset>

		<div th:if="${#fields.hasErrors('*')}">
			<span class="error">Einige Angaben fehlen bzw. sind unkorrekt.</span>
			<ul>
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Fehler</li>
			</ul>
		</div>

		<label for="type">Artikelart</label>
		<select id="type" name="type" onchange="window.location = '../support/' + this.value;">
			<option></option>
			<option th:each=" type : ${types}" th:text="${type.toString()}" th:selected="${selectedType == type}"></option>
		</select><br/>

		<label for="article">Artikel</label>
		<select id="article" name="article" th:errorclass="fieldError">
			<!--  th:value="${article.identifier}" -->
			<option th:each=" article: ${articles}" th:text="${article.name}" th:value="${article.identifier}"></option>
		</select><br/>

		<label for="description">Beschreibung</label>
		<input id="description" type="text" name="description" th:errorclass="fieldError" />

		<input type="submit" value="Abschicken" />
	</fieldset>

</form>
</body>
</html>