<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
	<title>Zubehör - CompuTech</title>
</head>
<body>
<header th:include="header :: header"></header>
<nav th:include="navigation :: navigation"></nav>

<h1>Zubehör</h1>

		<div class="content">
			<div class="catalog">
				<a class="linkbox" th:each="Computer : ${catalog}" th:href="@{'/detail/' + ${Computer.identifier}}" href="detail.html">
					<img th:src="@{'/resources/img/cover/' + ${Computer.image}}" class="thumbnail" src="../resources/img/cover/lac.jpg" alt="" />
					<h3 th:text="${Computer.name}">Product name</h3>
					<p th:text="${Computer.model}">Model</p>
					<p th:text="${Computer.price}" class="price">Price</p>



				</a>
			</div>
		</div>

		


</body>
</html>